@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />



</head>


<body>
    <header>
        <center>
            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-danger">AboutUs</a>
            <a href="/Home/ContactUs" class="btn btn-secondary">ContactUs</a>
            <a href="/Home/Privacy" class="btn btn-dark">Privacy</a>
        </center>

        <div>
            <h1>Privacy</h1>
        </div>
    </header>

    <footer class="fixed-bottom ">

        <center>Copyrights &copy;  Route Academy @DateTime.Now.Year </center>
    </footer>




</body>



</html>
